<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/mui.indexedlist.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">收费项目 </h1>
			<a id='done' class="mui-btn mui-btn-link mui-pull-right mui-btn-blue mui-disabled">完成</a>
		</header>
		<div class="mui-content">
			<div class="mui-indexed-list-search mui-input-row mui-search">
				<input type="search" id="searchData" class=" mui-input-clear mui-indexed-list-search-input" placeholder="搜索收费项目">
			</div>
			<div id="main">

			</div>
		</div>

		<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/enjoy.js"></script>
		<script>
			document.getElementById("searchData").addEventListener('change', function(event) {
				var keyword = document.getElementById("searchData").value;
				if(event.keyCode = 13) {
					if(keyword != '') {
						document.getElementById("main").innerHTML = '';
						mui.ajax({
							type: "post",
							url: Enjoy.service.addressPort + '/Modules/QueryReport/OutpatientDetails/Handler/GetProjectHandler.ashx',
							async: true,
							data: {
								q: keyword
							},
							success: function(data) {
								 
								var ksdmData = JSON.parse(data);
								if(ksdmData.length>0){
								var menulist = '';
								menulist += '<ul class="mui-table-view" >';
								mui.each(ksdmData, function(i, sm) {

									menulist += '<li data-value="' + sm.jjdm + '" data-tags="' + sm.mc + '" class="mui-table-view-cell mui-indexed-list-item mui-checkbox mui-left"><input  type="checkbox" id="' + sm.jjdm + '">' + sm.mc + '</li>';
								});
								menulist += '</ul>';
							
									document.getElementById("main").innerHTML += menulist;
								}
								else
								{
									mui.alert('没有数据');
								}
							}
						})
					}
				}
			})
			var done = document.getElementById('done');
			var list = document.getElementById('main');
			done.addEventListener('tap', function() {

				var checkboxArray = [].slice.call(list.querySelectorAll('input[type="checkbox"]'));
				var checkedValues = [];
				var checkedTexts = [];
				checkboxArray.forEach(function(box) {
					if(box.checked) {
						checkedValues.push(box.id);
						checkedTexts.push(box.parentNode.innerText);
					}
				});
				if(checkedValues.length > 0) {
					var self = plus.webview.currentWebview();
					var name = self.name;
					var detailPage = null;
					if(!detailPage) {
						detailPage = plus.webview.getWebviewById(name);
					}
					mui.fire(detailPage, 'getSfdm', {
						sfdm: checkedValues,
						sfmc: checkedTexts
					});
					mui.back();
				} else {
					mui.alert('没有选择收费项目');
				}
			}, false);
			mui('#main').on('change', 'input', function() {
				var count = list.querySelectorAll('input[type="checkbox"]:checked').length;
				var value = count ? "完成(" + count + ")" : "完成";
				done.innerHTML = value;
				if(count) {
					if(done.classList.contains("mui-disabled")) {
						done.classList.remove("mui-disabled");
					}
				} else {
					if(!done.classList.contains("mui-disabled")) {
						done.classList.add("mui-disabled");
					}
				}
			});
		</script>

	</body>

</html>