<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
	</head>
	<style>
		@media only screen and (min-width:320px) {
			.mainbody {
				width: 50%;
			}
		}
		
		a:link {
			text-decoration: none;
		}
		
		a:visited {
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: none;
		}
		
		a:active {
			text-decoration: none;
		}
	</style>

	<body>

		<div id="pullrefresh" class="mui-content mui-scroll-wrapper ">
			<div id="app" class=" mui-scroll">

				<div class="mui-row" id="rows">
					<div class="mui-col-sm-6 mui-col-xs-12 mainbody " style="padding-right: 5px; padding-left: 5px; padding-bottom: 10px;" v-for="data in message">

						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-btn-default" style=" width:100%;overflow: hidden; white-space: nowrap;text-overflow:ellipsis ;">
										<!--<a class="mui-navigate-right" @tap="showYear"><strong>{{data.ksmc}}</strong></a>-->
										<strong>{{data.ksmc}}</strong>
							</li>
							<li class="mui-table-view-cell ">
								<strong>年月：</strong>{{data.yy}}
							</li>
							<li class="mui-table-view-cell " hidden="hidden">
								<strong>科室代码：</strong>{{data.ksdm}}
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="pdf" @tap="showDetails"><strong>判读：</strong>{{data.pdf}}</a>
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="zxf" @tap="showDetails"><strong>执行：</strong>{{data.zxf}}</a>
							</li>
							<!--<li class="mui-table-view-cell">-->
								<!--	<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="zyzl" @tap="showDetails"><strong>中医治疗：</strong>{{data.yysr}}</a>-->
								<!--<strong>中医治疗：</strong>{{data.yysr}}-->
							<!--</li>-->
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="ssf" @tap="showDetails"><strong>手术金额：</strong>{{data.ssje}}</a>
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="yggz" @tap="showDetails"><strong>人员工资：</strong>{{data.jbgz}}</a>
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="kkcb" @tap="showDetails"><strong>可控成本：</strong>{{data.kkcb}}</a>
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" :rel="data.ksdm" :rev="data.yy" tag="qtcb" @tap="showDetails"><strong>其他成本：</strong>{{data.qtcb}}</a>
							</li>
							<li class="mui-table-view-cell">
								<strong>折旧比率：</strong>{{data.zjbl}}
							</li>
							<li class="mui-table-view-cell">
								<strong>折旧金额：</strong>{{data.zjje}}
							</li>
							<!--<li class="mui-table-view-cell">
								<strong>医生支出：</strong>{{data.ghf}}
							</li>
							<li class="mui-table-view-cell">
								<strong>专家成本：</strong>{{data.zjsr}}
							</li>-->
							<li class="mui-table-view-cell">
								<strong>应发奖金：</strong>{{data.je}}
							</li>
						</ul>

					</div>

				</div>

			</div>
		</div>

		<script type="text/javascript" src="../../vue/vue.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/enjoy.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript">
			mui.init({
				gestureConfig: {
					tap: true, //默认为true
					doubletap: true, //默认为false
					longtap: true, //默认为false
					swipe: true, //默认为true
					drag: true, //默认为true
					hold: false, //默认为false，不监听
					release: false //默认为false，不监听
				},
				pullRefresh: {
					container: '#pullrefresh',
					down: { //下拉刷新
						auto: false, //可选,默认false.自动下拉刷新一次
						contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
						contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
						contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
						callback: pulldownRefresh
					},
					up: { //上拉加载
						auto: false, //可选,默认false.自动上拉加载一次
						contentrefresh: '正在加载...',
						contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh
					}

				}
			});
			var url = Enjoy.service.addressPort + '/Modules/QueryReport/DoctorPerformanceSalary/Handler/DoctorPerformanceSalaryHandler.ashx';
			ksdm = '';
			yy = '';
			function pulldownRefresh() {

				setTimeout(function() {
					count = 1; //刷新并显示第一页
					data = {
						//...,
						page: count,
						year: yy,
						deptId: ksdm.toString()
					};
					type = 1; //代表下拉刷新
					toList(data, type); //具体取数据的方法
				}, 100);
			};

			function pullupRefresh() {

				setTimeout(function() {
					//var count=0;
					count++; //翻下一页
					data = {
						page: count,
						year: yy,
						deptId: ksdm.toString()
					};
					type = 2; //代表上拉加载
					toList(data, type); //具体取数据的方法
				}, 100);

			};

			var vm = new Vue({ //此处采用vue.js
				el: '#pullrefresh',
				data: {
					message: null,
				},
				created: function() {},
				methods: {
					showDetails: function(e) {
						var a = $(e.currentTarget);
						var ksdm = $(a).attr('rel');
						var yy = $(a).attr('rev');
						var tag = $(a).attr('tag');
						var url = '';
						var id = '';
						switch(tag) {
							case "pdf":
								url = "PdfDetails.html";
								id = "PdfDetails";
								break;
							case "zxf":

								url = "ZxfDetails.html";
								id = "ZxfDetails";
								break;
//							case "zyzl":
//								url = "ZyzlDetails.html";
//								id = "ZyzlDetails";
//								break;
							case "ssf":
								url = "SSfDetails.html";
								id = "SSfDetails";
								break;
							case "yggz":
								url = "../Common/YggzDetails.html";
								id = "YggzDetails";
								mui.openWindow({
									url: url,
									id: id,
									extras: {
										ksdm: ksdm,
										yy: yy,
										type: 1
									}
								});
								break;
							case "kkcb":
								url = "../Common/KkcbDetails.html";
								id = "KkcbDetails";
								mui.openWindow({
									url: url,
									id: id,
									extras: {
										ksdm: ksdm,
										yy: yy,
										type: 1,
										lb: 'yisheng'
									}
								});
								break;
							case "qtcb":
								url = "../Common/QtcbDetails.html";
								id = "QtcbDetails";
								mui.openWindow({
									url: url,
									id: id,
									extras: {
										ksdm: ksdm,
										yy: yy,
										type: 1,
										lb: 'yisheng'
									}
								});
								break;
							default:
								break;
						}
						mui.openWindow({
							url: url,
							id: id,
							extras: {
								ksdm: ksdm,
								yy: yy
							}
						});

					},
					showYear:function(e){
						mui.openWindow({url:'../SearchYear.html',id:'SearchYear'})
					}
					
				},
				ready: function() {

				}
			});
			var toList = function(data, type) {
				plus.nativeUI.showWaiting("等待中....", {
					padlock: true
				}); //数据出来前显示等待加载框
				mui.ajax(url, {
					data: data,
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					success: function(data) {
							//console.log(JSON.stringify(data));
						if(data.total > 0) {
							for(var i in data.rows) {
								var arr = new Array();
								for(var item in data.rows[i]) {
									arr[item] = data.rows[i][item];
								}
								if(type == 1) { //上拉刷新
									/*下面这句很关键！*/

									mui('#pullrefresh').pullRefresh().refresh(true);

									vm.message = data.rows;

									plus.nativeUI.closeWaiting(); //数据渲染完毕，关闭加载框
									mui.currentWebview.show(); //显示当前页面    

								}
								if(type == 2) { //下拉加载
									vm.message.push(arr);
									plus.nativeUI.closeWaiting(); //数据渲染完毕，关闭加载框
									mui.currentWebview.show(); //显示当前页面

								}
							}
						} else {

							vm.message = '';

							mui.toast("没有数据");

						}

						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();

						if(count < (Math.ceil(data.total / 20))) {

							mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);

						} else {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);

						}
						plus.nativeUI.closeWaiting();
						mui.currentWebview.show(); //显示当前页面

					},
					error: function(xhr, type, errerThrown) {
						//      mui.toast(type);
						mui.toast('网络异常,请稍候再试');

						plus.nativeUI.closeWaiting();
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);

					}
				});
			};
			if(mui.os.plus) {
				mui.plusReady(function() {

					setTimeout(function() {

						mui('#pullrefresh').pullRefresh().pulldownLoading();

					}, 1000);
				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pulldownLoading();

				});
			}
			window.addEventListener('searchData', function(event) {
				//获得事件参数
				yy = event.detail.year;
				ksdm = event.detail.ksdm;
				pulldownRefresh();
			});
		</script>
	</body>

</html>